@using System.Security.Claims
@using MangaShelf.Components.Pages.VolumePage.Elements
@using MangaShelf.DAL.Models
@inject IDialogService Dialog
@inject IVolumeService VolumeService
@inject ILogger<SmallCard> Logger
@inject ISnackbar Snackbar


@if (Volume != null)
{
    <MudCard @onclick="OpenVolumeAsync" Style="position:relative;" Class="manga-card ">
        <div class="image-container">
            <FallbackImage ImageUrl="@Volume.CoverImageUrlSmall" Class="@sideImageClass" Alt="@Volume.SeriesName" />

        </div>
        @if (Volume.IsPreorder && ShowBadges)
        {
            <div class="preorder-badge">
                <MudText Typo="Typo.caption" Align="Align.Center">@Localizer["Preorder"]</MudText>
            </div>
            <div class="preorder-date-badge">
                <MudText Typo="Typo.caption" Align="Align.Center">@Volume.ReleaseDate</MudText>
            </div>
        }
        @if (ShowButtons)
        {
            <AuthorizeView>
                @if (UserVolumeStatus != null)
                {
                    <div class="catalog-button-panel">
                        <MudButtonGroup Variant="Variant.Filled" Size="Size.Medium" Color="Color.Success">
                            @switch (UserVolumeStatus.CurrentOwnershipStatus)
                            {
                                case VolumeStatus.None or VolumeStatus.Gone or VolumeStatus.Wishlist:
                                    {
                                        if (UserVolumeStatus.IsInWishlist == false)
                                        {
                                            <MudTooltip Text="@Localizer["Wishlist"]" Placement="Placement.Top" Arrow="true" Delay="250" Duration="250">
                                                <MudIconButton Icon="@CustomIcons.wishlist" OnClick="HandleWishListAsync">
                                                    @Localizer["Wishlist"]
                                                </MudIconButton>
                                            </MudTooltip>
                                        }


                                        @if (Volume.IsPreorder)
                                        {
                                            <MudTooltip Text="@Localizer["Preorder"]" Arrow="true" Placement="Placement.Top" Delay="250" Duration="250">
                                                <MudIconButton Icon="@CustomIcons.preorder" OnClick="HandlePreorderAsync">
                                                    @Localizer["Preorder"]
                                                </MudIconButton>
                                            </MudTooltip>
                                        }
                                        else
                                        {
                                            <MudTooltip Text="@Localizer["AddToLibrary"]" Arrow="true" Placement="Placement.Top" Delay="250" Duration="250">
                                                <MudIconButton Icon="@CustomIcons.bookshelf" OnClick="HandleAddToLibraryAsync">
                                                    @Localizer["AddToLibrary"]
                                                </MudIconButton>
                                            </MudTooltip>
                                        }
                                    }
                                    break;
                                case VolumeStatus.Preorder:
                                    {
                                        if (Volume.IsPreorder == false)
                                        {
                                            <MudButton StartIcon="@CustomIcons.bookshelf" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="HandleAddToLibraryAsync">
                                                @Localizer["PreorderArrived"]
                                            </MudButton>
                                        }
                                    }
                                    break;
                                default:
                                    break;
                            }
                        </MudButtonGroup>
                        @if (UserVolumeStatus.CurrentOwnershipStatus == VolumeStatus.Own || UserVolumeStatus.CurrentOwnershipStatus == VolumeStatus.Preorder)
                        {
                            <MudChip T="string" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small">
                                @Localizer[UserVolumeStatus.CurrentOwnershipStatus]
                            </MudChip>
                        }
                    </div>
                }
            </AuthorizeView>
        }
    </MudCard>
}
else
{
    <MudCard Style="position:relative;" Class="manga-card ">
        <div class="image-container">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle"></MudSkeleton>
        </div>
    </MudCard>

}

<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>

@code {
    [EditorRequired]
    [Parameter]
    public CardVolumeDto? Volume { get; set; }

    [EditorRequired]
    [Parameter]
    public UserVolumeStatusDto? UserVolumeStatus { get; set; }

    [Parameter]
    public bool ShowBadges { get; set; } = false;

    [Parameter]
    public bool ShowButtons { get; set; } = false;

    [Inject]
    NavigationManager NavigationManager { get; set; }

    [Inject]
    IUiLocalizationService Localizer { get; set; }

    [CascadingParameter]
    public required Task<AuthenticationState> AuthStateTask { get; set; }

    private string sideImageClass = "card-image";

    private async Task<string?> GetUserId()
    {
        var authState = await AuthStateTask;
        var user = authState.User;
        var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        return userId;
    }

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();
    }

    private async Task OpenVolumeAsync()
    {
        if (Volume != null)
        {
            NavigationManager.NavigateTo($"volume/{Volume.PublicId}");
        }
    }

    private async Task HandleWishListAsync()
    {
        await OpenSetOwnershipDialog(VolumeStatus.Wishlist);
    }

    private async Task HandlePreorderAsync()
    {
        await OpenSetOwnershipDialog(VolumeStatus.Preorder);
    }

    private async Task HandleAddToLibraryAsync()
    {
        await OpenSetOwnershipDialog(VolumeStatus.Own);
    }

    private async Task OpenSetOwnershipDialog(VolumeStatus status)
    {
        var dialogOptions = new DialogOptions()
        {
            FullWidth = false,
            Position = DialogPosition.Center,
        };
        var parameters = new DialogParameters
        {
            {
                nameof(SetOwnershipDialog.Ownership),
                new Ownership()
                {
                    Status = status,
                    Date = DateTime.Now,
                    Type = VolumeType.Physical
                }
            },
            {
                nameof(SetOwnershipDialog.IsDisabledStatus), true
            }
        };
        var dialog = await Dialog.ShowAsync<SetOwnershipDialog>(string.Empty, parameters, dialogOptions);

        var result = await dialog.Result;

        if (result != null && !result.Canceled)
        {
            try
            {
                var ownership = result.Data as Ownership;

                if (ownership is null)
                {
                    throw new InvalidOperationException("Ownership data is null");
                }

                var (userVolumeStatus, stats) = await VolumeService.AddOwnershipAsync(Volume.PublicId, await GetUserId(), ownership);
                if (UserVolumeStatus != null)
                {
                    UserVolumeStatus.CurrentOwnershipStatus = userVolumeStatus.CurrentOwnershipStatus;
                    UserVolumeStatus.IsInWishlist = userVolumeStatus.IsInWishlist;
                }

                if (status == VolumeStatus.Own)
                {
                    Snackbar.Add(Localizer["AddedToLibrary"]);
                }
                else
                {
                    Snackbar.Add(Localizer["AddedToPreorder"]);
                }
            }
            catch (Exception)
            {
                Logger.LogError("Error adding ownership for volume {PublicId}", Volume.PublicId);
                Snackbar.Add(Localizer["Error"]);
            }

        }
    }
}