@using MangaShelf.Components.Elements.VolumeDetails
@inject IDialogService Dialog


@if (Volume != null)
{
    <MudCard @onclick="OpenVolumeAsync" Style="position:relative;" Class="manga-card ">
        <div class="image-container">
            <FallbackImage ImageUrl="@Volume.CoverImageUrlSmall" Class="@sideImageClass" Alt="@Volume.SeriesName" />
        </div>
    </MudCard>
}
else
{
    <MudCard Style="position:relative;" Class="manga-card ">
        @if (Volume.IsPreorder)
        {
            <div class="mud-theme-tertiary py-2 px-4 mx-2 rounded-bl-xl" style="position: absolute; top:0; right:0; margin-right:0 !important;">
                <MudText Typo="Typo.caption" Align="Align.Center">@Localizer["Preorder"]</MudText>
                <MudText Typo="Typo.caption" Align="Align.Center">@Volume.ReleaseDate</MudText>
            </div>
        }
        <div class="image-container">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle"></MudSkeleton>
        </div>
    </MudCard>

}

<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>

@code {
    [Parameter]
    public CardVolumeDto? Volume { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    [Inject]
    IUiLocalizationService Localizer { get; set; }

    private string sideImageClass = "card-image";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        // if (Volume!.CoverNeedAdjustment)
        // {
        //     sideImageClass += " card-image-side";
        // }
    }

    private async Task OpenVolumeAsync()
    {
        // var parameters = new DialogParameters<VolumeDetailedModal>();
        // parameters.Add(x => x.VolumeId, Volume.Id);
        // var options = new DialogOptions()
        // {
        //     BackgroundClass = "my-custom-class",
        //     CloseOnEscapeKey = true
        // };

        // await Dialog.ShowAsync<VolumeDetailedModal>(string.Empty, parameters, options);
        if (Volume != null)
        {
            NavigationManager.NavigateTo($"volume/{Volume.Id}");
        }
    }
}