@using System.Security.Claims
@using MangaShelf.Components.Pages.VolumePage
@using MangaShelf.Components.Pages.VolumePage.Elements
@using MangaShelf.DAL.Models

@inherits VolumeActionBase

@if (Volume != null)
{
    <MudCard @onclick="OpenVolumeAsync" Style="position:relative;" Class="manga-card ">
        <div class="image-container">
            <FallbackImage ImageUrl="@Volume.CoverImageUrlSmall" Class="@sideImageClass" Alt="@Volume.SeriesName" />

        </div>
        @if (Volume.IsPreorder && ShowBadges)
        {
            <div class="preorder-badge">
                <MudText Typo="Typo.caption" Align="Align.Center">@Localizer["ItsPreorder"]</MudText>
            </div>
            <div class="preorder-date-badge">
                <MudText Typo="Typo.caption" Align="Align.Center">@Volume.ReleaseDate</MudText>
            </div>
        }
        @if (ShowButtons)
        {
            <AuthorizeView>
                @if (CurrentUserStatus != null)
                {
                    var status = CurrentUserStatus.CurrentOwnershipStatus;
                    var inWishList = CurrentUserStatus.IsInWishlist;

                    <div class="catalog-button-panel">
                        <MudStack Spacing="1" AlignItems="AlignItems.Center" Justify="Justify.Center">
                            @if (status == VolumeStatus.Own || status == VolumeStatus.Preorder || inWishList)
                            {
                                if (inWishList && status == VolumeStatus.None)
                                {
                                    <MudChip T="string" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small">
                                        @Localizer["Wishlisted"]
                                    </MudChip>
                                }
                                else
                                {

                                    <MudChip T="string" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small">
                                        @Localizer[status]
                                    </MudChip>
                                }
                            }
                            <MudButtonGroup Variant="Variant.Filled" Size="Size.Medium" Color="Color.Success">
                                @switch (status)
                                {
                                    case VolumeStatus.None or VolumeStatus.Gone or VolumeStatus.Wishlist:
                                        {
                                            if (inWishList == false)
                                            {
                                                <CardButtonTooltip Text="@Localizer["AddWishlist"]">
                                                    <MudIconButton Icon="@CustomIcons.wishlist" OnClick="HandleWishListAsync"></MudIconButton>
                                                </CardButtonTooltip>
                                            }


                                            @if (Volume.IsPreorder)
                                            {
                                                <CardButtonTooltip Text="@Localizer["AddPreorder"]">
                                                    <MudIconButton Icon="@CustomIcons.preorder" OnClick="HandlePreorderAsync"></MudIconButton>
                                                </CardButtonTooltip>
                                            }
                                            else
                                            {
                                                <CardButtonTooltip Text="@Localizer["AddToLibrary"]">
                                                    <MudIconButton Icon="@CustomIcons.bookshelf" OnClick="HandleAddToLibraryAsync"></MudIconButton>
                                                </CardButtonTooltip>
                                            }
                                        }
                                        break;
                                    case VolumeStatus.Preorder:
                                        {
                                            <CardButtonTooltip Text="@Localizer["PreorderArrived"]">
                                                <MudIconButton Icon="@CustomIcons.delivered" OnClick="HandleAddToLibraryAsync"></MudIconButton>
                                            </CardButtonTooltip>
                                        }
                                        break;
                                    default:
                                        break;
                                }
                            </MudButtonGroup>
                        </MudStack>
                    </div>
                }
            </AuthorizeView>
        }
    </MudCard>
}
else
{
    <MudCard Style="position:relative;" Class="manga-card ">
        <div class="image-container">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle"></MudSkeleton>
        </div>
    </MudCard>

}

<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>

@code {
    [Parameter]
    public CardVolumeDto? Volume { get; set; }

    [Parameter]
    public bool ShowBadges { get; set; } = false;

    [Parameter]
    public bool ShowButtons { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    [Inject]
    new ISmallCardLocalizationService Localizer { get; set; }

    public UserVolumeStatusDto? CurrentUserStatus { get; set; }

    protected override Guid? ResolvedVolumeId => Volume?.Id;

    private string sideImageClass = "card-image";

    protected override async Task OnParametersSetAsync()
    {
        if(Volume == null || ShowButtons == false)
        {
            return;
        }

        try
        {
            CurrentUserStatus = await VolumeService.GetVolumeStatusInfo(Volume.Id, await GetUserId());
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error loading volume status for volume {VolumeId}", Volume.Id);
        }
    }

    private async Task OpenVolumeAsync()
    {
        if (Volume != null)
        {
            NavigationManager.NavigateTo($"volume/{Volume.PublicId}");
        }
    }

    private async Task HandleWishListAsync()
    {
        await HandleOwnershipChange(VolumeStatus.Wishlist);
    }

    private async Task HandlePreorderAsync()
    {
        await HandleOwnershipChange(VolumeStatus.Preorder);
    }

    private async Task HandleAddToLibraryAsync()
    {
        await HandleOwnershipChange(VolumeStatus.Own);
    }

    private async Task HandleOwnershipChange(VolumeStatus status)
    {
        var newStatus = await OpenSetOwnershipDialog(VolumeStatus.Wishlist);
        if(newStatus != null)
        {
            CurrentUserStatus = newStatus;
            StateHasChanged();
        }
    }
}