@if (Volume != null)
{


    <MudCard Class="manga-card" Elevation="3">
        @*         <MudCardHeader Style="" Class="hidden-child manga-panel">
            <CardHeaderContent>
                <MudText Typo="Typo.body2" Style="width: 80%">@Volume.SeriesName</MudText>
            </CardHeaderContent>
        </MudCardHeader> *@
        <div class="image-container">
            <img class="card-image" src="@Volume.CoverImageUrl" alt="@Volume.SeriesName" />
        </div>

        @*         <MudAvatar Class="card-avatar m-2">@Volume.VolumeNumber</MudAvatar>
 *@
        <div class="mud-theme-secondary py-2 px-4 mx-2 rounded-bl-xl" style="position: absolute; top:0; right:0; margin-right:0 !important;">
            <MudText Align="Align.Center">preorder</MudText>
        </div>
        <MudCardActions Class="hidden-child manga-panel">
            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Style="color: #198754" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Add" Style="color:#198754" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" Href="@Volume.Url" Target="_blank" Style="color:#198754" />
        </MudCardActions>
    </MudCard>

}

@code {
    [Parameter]
    public VolumeDto? Volume { get; set; }
}
