@page "/Account/Login"
@page "/login"
@using MangaShelf.Controllers.Models
@inject IUiLocalizationService Localizer
@inject IJSRuntime JS

<MudGrid Justify="Justify.Center">
    <MudItem xs="12">
        <MudStack Spacing="1" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
            <MudText Typo="Typo.h4">@Localizer["LoginWithYourAccount"]</MudText>
            <MudText Typo="Typo.subtitle1">@Localizer["DontHaveAnAccount"] <MudLink Href="/Account/Register">@Localizer["RegisterHere"]</MudLink></MudText>
        </MudStack>
    </MudItem>
    <MudItem xs="12" sm="4">
        <StatusMessage Message="@Error" />
        <EditForm Model="Input" FormName="login" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <MudStack Spacing="3" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                <MudTextField @bind-Value="Input.Username" id="Input.Username" autocomplete="username"
                              aria-required="true" FullWidth="true" Label="@Localizer["Username"]"
                              For="@(() => Input.Username)" />
                <MudTextField @bind-Value="Input.Password" id="Input.Password" type="password"
                              autocomplete="new-password" aria-required="true" FullWidth="true" Label="@Localizer["Password"]"
                              InputType="InputType.Password" For="@(() => Input.Password)" />
                <MudText Typo="Typo.subtitle1">
                    <MudLink Href="/Account/ForgotPassword">@Localizer["ForgotPassword"]</MudLink>
                </MudText>

                <MudButton ButtonType="ButtonType.Submit" Size="Size.Large" Color="Color.Primary"
                           Variant="Variant.Filled" FullWidth="false">@Localizer["Login"]</MudButton>
            </MudStack>
        </EditForm>
    </MudItem>
</MudGrid>
<form id="login-post-form" method="post" action="/Auth/Login" hidden>
    <input type="hidden" name="returnUrl" value="@ReturnUrl" />
    <input type="hidden" name="Username" value="@Input.Username" />
    <input type="password" hidden name="Password" value="@Input.Password" />
</form>
@code {

    [SupplyParameterFromQuery(Name = "returnUrl")]
    private string? ReturnUrl { get; set; }

    private string? errorMessage;

    [SupplyParameterFromQuery(Name = "error")]
    private string? Error { get; set; }

    private LoginInputModel Input { get; set; } = new();

    protected override void OnInitialized()
    {
        errorMessage = Error;

        if (string.IsNullOrEmpty(ReturnUrl))
        {
            ReturnUrl = "/";
        }
    }

    private async Task HandleSubmit()
    {
        await JS.InvokeVoidAsync("submitFormById", "login-post-form");
    }
}