@page "/Account/Register"
@page "/register"
@using MangaShelf.Controllers.Models

@inject IJSRuntime JS
@inject IUiLocalizationService Localizer


<MudGrid Justify="Justify.Center">
    <MudItem xs="12">
        <MudStack Spacing="1" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
            <MudText Typo="Typo.h4">@Localizer["CreateANewAccount"]</MudText>
            <MudText Typo="Typo.subtitle1">@Localizer["AlreadyHaveAnAccount"] <MudLink Href="/Account/Login">@Localizer["LoginHere"]</MudLink></MudText>
        </MudStack>
    </MudItem>
    <MudItem xs="12" sm="4">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" FormName="register" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
        <MudStack Spacing="3" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
            <MudTextField @bind-Value="Input.Username" id="Input.Username" autocomplete="username"
                            aria-required="true" FullWidth="true"
                            Label="@Localizer["Username"]" 
                            For="@(() => Input.Username)" />
            <MudTextField @bind-Value="Input.Email" id="Input.Email" autocomplete="email"
                            aria-required="true" FullWidth="true"
                            Label="@Localizer["Email"]" 
                            For="@(() => Input.Email)" />
            <MudTextField @bind-Value="Input.Password" id="Input.Password" type="password"
                            autocomplete="new-password" aria-required="true" FullWidth="true"
                            Label="@Localizer["Password"]" InputType="InputType.Password"
                            For="@(() => Input.Password)" />
            <MudTextField @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" type="password"
                            autocomplete="new-password" aria-required="true" FullWidth="true"
                            Label="@Localizer["ConfirmPassword"]" InputType="InputType.Password"  
                            For="@(() => Input.ConfirmPassword)"  />
            <MudButton ButtonType="ButtonType.Submit" 
                Size="Size.Large" Color="Color.Primary" 
                Variant="Variant.Filled" FullWidth="false">@Localizer["Register"]</MudButton>
        </MudStack>
        </EditForm>
    </MudItem>
</MudGrid>

<form id="register-post-form" method="post" action="/Auth/Register" hidden>
<input type="hidden" name="returnUrl" value="@ReturnUrl" />
<input type="hidden" name="Username" value="@Input.Username" />
<input type="hidden" name="Email" value="@Input.Email" />
<input type="password" hidden name="Password" value="@Input.Password" />
<input type="password" hidden name="ConfirmPassword" value="@Input.ConfirmPassword" />
</form>

@code {
[SupplyParameterFromQuery(Name = "returnUrl")]
private string? ReturnUrl { get; set; }

[SupplyParameterFromQuery(Name = "error")]
private string? Error { get; set; }

private RegisterInputModel Input { get; set; } = new();

private string? Message => Error is null ? null : $"{Localizer["Error"]}: {Error}";

protected override void OnInitialized()
{
if (string.IsNullOrEmpty(ReturnUrl))
{
ReturnUrl = "/";
}
}

private async Task HandleSubmit()
{
await JS.InvokeVoidAsync("submitFormById", "register-post-form");
}


}
