@page "/admin/parsers"
@using MangaShelf.DAL.System.Models
@using System.Collections.ObjectModel

@inject IParserReadService parserService;
@inject IJobRequester jobManager;
@implements IDisposable


<MudGrid Justify="Justify.SpaceAround" Class="mb-4">
    <MudItem xs="12">
        <MudPaper Class="p-4 mb-4 mt-4">
            <h3>Parsers</h3>
            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Row>
                <MudTextField @bind-Value="url" Label="Paste URL for parsing" Variant="Variant.Filled"></MudTextField>
                <MudButton OnClick="RunForUrl" Color="Color.Primary" Variant="Variant.Filled">Run</MudButton>
            </MudStack>
        </MudPaper>
    </MudItem>

    @if (statuses != null)
    {
        @foreach (ParserStatusDto parser in statuses)
        {
            <MudItem Style="width: 250px;  height: 285px;">
                <MudPaper Class="p-4">
                    @{

                        var color = parser.Status switch
                        {
                            ParserStatus.Idle => Color.Default,
                            ParserStatus.Parsing => Color.Success,
                            ParserStatus.GatheringVolumes => Color.Info,
                            ParserStatus.Waiting => Color.Warning,
                            _ => Color.Default
                        };
                    }

                    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">

                        <MudText Typo="Typo.h6">@parser.ParserName</MudText>

                        <MudText Typo="Typo.h6" Color="@color"> @parser.Status </MudText>


                        @if (parser.Status == ParserStatus.Parsing)
                        {

                            <MudProgressCircular Color="@color" Size="Size.Large" Value="@parser.Progress">
                                <ChildContent>
                                    @parser.Progress.ToString("N2")
                                </ChildContent>
                            </MudProgressCircular>
                        }
                        else if (parser.Status == ParserStatus.Idle)
                        {

                            <MudIconButton Class="@(parser.Status == ParserStatus.Idle ? "visible" : "hidden")" OnClick="(() => RunParser(parser.Id))" Size="Size.Large" Icon="@Icons.Material.Rounded.PlayArrow" Color="Color.Success"></MudIconButton>
                        }
                        else
                        {
                            <MudProgressCircular Color="@color" Size="Size.Large" Indeterminate="true">
                                <ChildContent>
                                    @if (parser.Progress > 0)
                                    {
                                        @parser.Progress.ToString("N2")
                                    }
                                </ChildContent>
                            </MudProgressCircular>
                        }

                        @{
                            var difference = parser.NextRun - DateTimeOffset.Now;
                            var text = $"{difference.Hours}h {difference.Minutes}m {difference.Seconds}s";
                        }
                        <MudStack Row Spacing="1">
                            <MudText Typo="Typo.caption">Next Run in</MudText>
                            <MudText Typo="Typo.caption">@text</MudText>
                        </MudStack>
                    </MudStack>
                </MudPaper>
            </MudItem>
        }
    }
</MudGrid>

<style>
    .cell-Running {
        color: var(--mud-palette-info) !important;
    }

    .cell-Finished {
        color: var(--mud-palette-success) !important;
    }

    .cell-Error {
        color: var(--mud-palette-error) !important;
    }

    .cell-Waiting {
        color: var(--mud-palette-warning) !important;
    }

    .cell-Cancelled {
        color: var(--mud-palette-text-secondary) !important;
    }
</style>

<MudTable Items="jobs" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>Parser</MudTh>
        <MudTh>Created</MudTh>
        <MudTh>Started</MudTh>
        <MudTh>Status</MudTh>
        <MudTh>Finished</MudTh>
        <MudTh>Url</MudTh>
        <MudTh>Progress</MudTh>
        <MudTh>Error</MudTh>
    </HeaderContent>
    <RowTemplate Context="row">
        <MudTd>
            @if (row.Status == RunStatus.Waiting || row.Status == RunStatus.Running)
            {
                <MudIconButton Size="Size.Small" OnClick="(() => CancelJob(row.Id))" Icon="@Icons.Material.Rounded.Cancel" Color="Color.Error"></MudIconButton>
            }
        </MudTd>
        <MudTd DataLabel="Parser">@row.ParserStatus.ParserName</MudTd>
        <MudTd DataLabel="Created">@row.Created.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss.fff")</MudTd>
        <MudTd DataLabel="Started">@row.Started.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss.fff")</MudTd>
        @{
            var className = "cell-" + @row.Status;
        }
        <MudTd Class="@className" DataLabel="Status">@row.Status</MudTd>
        <MudTd DataLabel="Finished">@row.Finished?.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss.fff")</MudTd>
        <MudTd DataLabel="Url">@row.Url</MudTd>
        <MudTd DataLabel="Progress">@row.Progress.ToString("N2")</MudTd>
        <MudTd DataLabel="Error">
            @foreach (var error in row.Errors)
            {
                @if (error.ExceptionMessage != null)
                {
                    <li>@error.Url @error.ExceptionMessage</li>
                }
                if (error.ErrorMessage != null)
                {
                    <li>@error.Url @error.ErrorMessage</li>
                }
            }
        </MudTd>
    </RowTemplate>
</MudTable>





@code {
    string url = null;
    CancellationTokenSource tokenSource = new();
    IEnumerable<ParserJob> jobs;
    IEnumerable<ParserStatusDto> statuses = null;
    System.DateTimeOffset lastCheckTime;
    private Dictionary<Guid, CancellationToken> jobDictionary = new();

    protected override async Task OnInitializedAsync()
    {
        lastCheckTime = System.DateTimeOffset.Now;
        jobs = await parserService.GetJobs(100);

        RunParse();
    }

    private async Task RunParse()
    {
        do
        {
            statuses = await parserService.GetStatusesAsync(tokenSource.Token);

            StateHasChanged();

            // var result = await parserService.GetNewJobsSince(lastCheckTime, tokenSource.Token);
            // lastCheckTime = System.DateTimeOffset.Now;

            jobs = await parserService.GetJobs(100);

            await Task.Delay(2000);

        } while (!tokenSource.IsCancellationRequested);
    }

    // private void AddToJobList(IEnumerable<ParserRun> newJobs)
    // {
    //     foreach (var job in newJobs)
    //     {
    //         var existingJob = jobs.FirstOrDefault(x => x.Id == job.Id);
    //         if (existingJob == null)
    //         {
    //             jobs.Insert(0, job);
    //         }
    //     }
    // }

    public void Dispose()
    {
        if (tokenSource != null)
        {
            tokenSource.Cancel();
        }
    }

    private async Task RunParser(Guid id)
    {
        await jobManager.CreateParserJob(id);
    }
    private async Task RunForUrl(MouseEventArgs args)
    {
        try
        {
            if (Uri.IsWellFormedUriString(url, UriKind.Absolute))
            {
                await jobManager.CreateSingleJob(url);
            }
        }
        catch (Exception)
        {

        }

    }
    private async Task CancelJob(Guid? id)
    {
        if (id != null)
        {
            await jobManager.CancelJob(id.Value);
        }
    }
}
