@page "/"
@using MangaShelf.BL.Interfaces
@using MangaShelf.Common.Dto
@inject ICountryService CountryService
@inject IVolumeService VolumeService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* @foreach (var volume in volumes)
{
    <div>
        <p>@volume.SeriesName - @volume.VolumeTitle</p>
    </div>
}

@foreach (var country in countries)
{
    <div>
        <h2>@country.Name</h2>
        <p>Code: @country.Code</p>
        <img src="@country.FlagUrl" alt="Flag of @country.Name" />
    </div>
} *@


@code
{
    private IEnumerable<CountryDto> countries = Enumerable.Empty<CountryDto>();
    private IEnumerable<VolumeDto> volumes = Enumerable.Empty<VolumeDto>();

    protected override async Task OnInitializedAsync()
    {
        countries = await CountryService.GetAllCountriesAsync();
        volumes = await VolumeService.GetAllVolumesAsync();
    }
}
