@page "/preorders"
@using MangaShelf.BL.Services
@using System.Security.Claims
@using MangaShelf.Components.Elements.SmallCard
@using MangaShelf.DAL.Models

@inherits UserContextComponent

@inject IUserLibraryService UserLibraryService
@inject IUiLocalizationService Localizer
<h3>@Localizer["Preorders"]</h3>

@if (UserLibraryDto != null)
{
    <MudGrid>
        <MudItem sm="12" md="6">
            <MudPaper Class="paper-manga-panel p-4" Elevation="0">
                @if (!UserLibraryDto.Volumes.Any())
                {
                    <MudItem sm="12">
                        <MudAlert Severity="Severity.Normal">@Localizer["NoPreorders"]</MudAlert>
                    </MudItem>
                }
                <MudGrid>
                    @foreach (var preorder in UserLibraryDto.Volumes)
                    {
                        var cardClass = "m-1 p-3 " + (preorder.IsPreorderDue ? "expired-preorder" :
               "normal-preorder");
                        <MudItem xs="6" sm="4" >
                            <MudStack Spacing="1" AlignItems="AlignItems.Center" class="@cardClass">
                                <div style="width: 120px;height: 170px;">
                                    <SmallCard ShowButtons="true" VolumeId="@preorder.VolumeId"
                                               OnStatusChange="@ReloadUserLibrary" />

                                </div>
                                @if (preorder.IsPreorderDue)
                                {
                                    <MudText Color="Color.Error">@Localizer["PreorderIsDue"]</MudText>
                                    <MudText Color="Color.Error">@preorder.ReleaseDate?.ToString("d")</MudText>
                                }
                                else if (preorder.DaysTillRelease == 0)
                                {
                                    <MudText>@Localizer["Release"]</MudText>
                                    <MudText Color="Color.Success">@Localizer["Today"]</MudText>
                                }
                                else
                                {
                                    <MudText>@Localizer["DaysTillRelease"]</MudText>
                                    <MudText>@FormatDays(preorder.DaysTillRelease)</MudText>
                                }
                            </MudStack>
                        </MudItem>
                    }
                </MudGrid>
            </MudPaper>
        </MudItem>
        <MudItem sm="12" md="6">
            <MudPaper Class="paper-manga-panel p-4" Elevation="0">
                <VolumeHistoryView VolumeHistory="UserLibraryDto.Updates" GroupedByDate="true" />
            </MudPaper>
        </MudItem>
    </MudGrid>
}


@if (errorMessage != null)
{
    <MudText Color="Color.Error">@errorMessage</MudText>
}

@code {
    [CascadingParameter]
    public required Task<AuthenticationState> AuthStateTask { get; set; }

    private UserLibraryDto? UserLibraryDto;
    private string? errorMessage;

    protected override async Task OnParametersSetAsync()
    {
        await LoadUserLibrary();
    }

    private async Task ReloadUserLibrary(VolumeStatus status)
    {
        await LoadUserLibrary();
    }

    private async Task LoadUserLibrary()
    {
        try
        {
            var userId = await GetUserId();
            if (userId != null)
            {
                UserLibraryDto = await UserLibraryService.GetUserPreorders(userId);

                errorMessage = null;
            }
        }
        catch (Exception ex)
        {
            errorMessage = "An error occurred while loading preorders. " + ex.Message;
        }
    }

    private string FormatDays(int days)
    {
        var lastDigit = days % 10;
        if (lastDigit == 1 && days != 11)
        {
            return Localizer["OneDay"].Value.Replace("{count}", days.ToString());
        }
        else if (lastDigit >= 2 && lastDigit <= 4 && (days < 10 || days > 20))
        {
            return Localizer["FewDays"].Value.Replace("{count}", days.ToString());
        }
        else
        {
            return Localizer["Days"].Value.Replace("{count}", days.ToString());
        }
    }
}
